*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer {
  background: linear-gradient(135deg, #c9c9c9, #e1e1e1);
  color: #000;
  padding: 40px 20px 10px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.footer-col {
  flex: 1;
  min-width: 250px;
}

.footer-col h3, .footer-col h4 {
  margin-bottom: 10px;
  color: #000;
}

.footer-col p, 
.footer-col li, 
.footer-col a {
  font-size: 14px;
  color: #000;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  margin-bottom: 8px;
}

.footer-col a {
  text-decoration: none;
  transition: color 0.3s;
}

.footer-col a:hover {
  color: #444444;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  color: #000;
  border-top: 1px solid #444;
  margin-top: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
