.carousel-inner img {
  height: 600px;   /* altura fixa */
  object-fit: cover; /* mantém proporção e corta excesso */
}
.hover-img {
  transition: 0.3s ease; /* animação suave */
  cursor: pointer;
}

.containerFrete{
  background-color: black;
  padding: 5px;
}

.textoFrete{
  color: white;
  text-align: center;
  font-size: 15px;
}

.vendas{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.produtos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.card img{
  height: 320px;
  object-fit:cover;
}

/* .hover-img:hover {
  content: url("./assets/camisa2.webp");
} */

.card-body h3{
  text-align: center;
}

.card a{
  color: black;
  text-decoration: none;
}

.card{
    transition: transform 0.3s ease; /* animação suave */
}

.card:hover{
    transform: scale(1.1); /* aumenta 10% */
}

.sobre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mapa {
  display: block;      /* transforma em bloco */
  margin: 0 auto;      /* centraliza horizontalmente */
  max-width: 1000px;    /* largura máxima opcional */
  margin-bottom: 2rem;
}
